In [2]:
import pandas as pd
import os
import utils_api
import utils_selenium
from time import  sleep
from datetime import datetime
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support import expected_conditions as EC

In [3]:
tp = pd.read_csv('datasets/troubling_profiles.csv')
si = pd.read_csv('datasets/submitted_invitation.csv')
sinmail = pd.read_csv('datasets/submitted_inmail.csv')
ni = pd.read_csv('datasets/network_info.csv')
scta = pd.read_csv('datasets/submitted_call_to_action.csv')
fo = pd.read_csv('family_offices_UK.csv')
m = pd.read_csv('datasets/message.csv')

In [83]:
ni = ni[['timestamp', 'date_time', 'profile_id', 'connection_level']]

In [84]:
ni.to_csv('datasets/network_info.csv', index=0)

In [4]:
ni

,timestamp,date_time,profile_id,connection_level,connections,followers
0,1674313606,2023-01-21 16:06,christopher-hill-72944417,DISTANCE_2,500,1796
1,1674313670,2023-01-21 16:07,andrew-waldren-16057a10,DISTANCE_2,500,1518
2,1674313734,2023-01-21 16:08,ammalan-annalingam-76831a1a,DISTANCE_2,481,493
3,1674313796,2023-01-21 16:09,michael-rosenthal-24b412,DISTANCE_2,500,1426
4,1674313859,2023-01-21 16:10,greg-malone-69057734,DISTANCE_2,500,778
...,...,...,...,...,...,...
214,1674409032,2023-01-22 18:37,ronnie-armist-08aa3a13,DISTANCE_2,191,193
215,1674409164,2023-01-22 18:39,mona-shah-cfa-083a3695,DISTANCE_2,500,2821
216,1674409299,2023-01-22 18:41,nick-smith-b2244619,DISTANCE_2,500,881
217,1674409432,2023-01-22 18:43,simon-ward-79948649,DISTANCE_2,447,458
218,1674409565,2023-01-22 18:46,graham-wainer-49701b1,DISTANCE_2,500,600