In [8]:
import pandas as pd
import os
import utils

In [3]:
os.listdir('datasets')

['troubling_profiles.csv',
 'message.csv',
 'submitted_invitation.csv',
 'network_info.csv',
 'submitted_call_to_action.csv']

In [4]:
tp = pd.read_csv('datasets/troubling_profiles.csv')
si = pd.read_csv('datasets/submitted_invitation.csv')
ni = pd.read_csv('datasets/network_info.csv')
scta = pd.read_csv('datasets/submitted_call_to_action.csv')
fo = pd.read_csv('family_offices_UK.csv')

In [7]:
pd.merge(ni, si, how='left', left_on = 'profile_id', right_on = 'profile_id')

,timestamp_x,date_time_x,profile_id,connection_level,connections,followers,date_time_y,timestamp_y,message_code,accepted_invitation,replied
0,1673991327,2023-01-17 22:35,dmitry-tomkin-61753578,DISTANCE_3,325,329,1673991336,2023-01-17 22:35,n0,False,False
1,1673991341,2023-01-17 22:35,igor-yelnik-3ab5223,DISTANCE_2,500,3590,1673991354,2023-01-17 22:35,n1,False,False
2,1673991360,2023-01-17 22:36,alexanderkalis,DISTANCE_3,500,4849,1673991372,2023-01-17 22:36,n0,False,False
3,1673991374,2023-01-17 22:36,simon-hopkins-9514791,DISTANCE_3,500,11508,1673991385,2023-01-17 22:36,n1,False,False
4,1673991391,2023-01-17 22:36,alex-jeffrey1,DISTANCE_3,500,3249,1673991403,2023-01-17 22:36,n0,False,False

In [ ]:
api = utils.autenticate_linkedin_API('manuel')