In [154]:
import pandas as pd
import os
import utils
from time import  sleep
import utils_inmail
from datetime import datetime
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support import expected_conditions as EC

In [191]:
os.listdir('datasets')

['troubling_profiles.csv',
 'submitted_inmail.csv',
 'message.csv',
 'submitted_invitation.csv',
 'network_info.csv',
 'submitted_call_to_action.csv']

In [194]:
tp = pd.read_csv('datasets/troubling_profiles.csv')
si = pd.read_csv('datasets/submitted_invitation.csv')
sinmail = pd.read_csv('datasets/submitted_inmail.csv')
ni = pd.read_csv('datasets/network_info.csv')
scta = pd.read_csv('datasets/submitted_call_to_action.csv')
fo = pd.read_csv('family_offices_UK.csv')

In [195]:
si

,timestamp,datetime,profile_id,message_code,accepted_invitation,replied
0,1674053299,2023-01-18 15:48,christopher-hill-72944417,n0,False,False
1,1674053314,2023-01-18 15:48,flemingprivateoffice,n0,False,False
2,1674053329,2023-01-18 15:48,andrew-waldren-16057a10,n0,False,False
3,1674053348,2023-01-18 15:49,ammalan-annalingam-76831a1a,n0,False,False
4,1674053366,2023-01-18 15:49,michael-rosenthal-24b412,n0,False,False
5,1674054565,2023-01-18 16:09,greg-malone-69057734,n0,False,False
6,1674054583,2023-01-18 16:09,carnegie-smyth-56787b5,n0,False,False
7,1674054597,2023-01-18 16:09,james-duckworth-chad-8527805,n0,False,False
8,1674054616,2023-01-18 16:10,fabrizio-basso-4543463b,n0,False,False
9,1674054635,2023-01-18 16:10,billy-norris-834a2725,n0,False,False

In [157]:
seven_days_timestamp = 604800

In [158]:
current_timestamp = int(datetime.now().timestamp())
current_timestamp

1674050337

In [159]:
si_not_accepted = si[si.accepted_invitation == False]
si_to_be_inmailed = si_not_accepted[si_not_accepted.timestamp + seven_days_timestamp < current_timestamp]
si_to_be_inmailed

,timestamp,date_time,profile_id,message_code,accepted_invitation,replied
0,16739,2023-01-17 22:35,dmitry-tomkin-61753578,n0,False,False

In [163]:
pd.merge(si_to_be_inmailed, sinmail, on='profile_id', suffixes=('_invitation', '_inmail'))

Empty DataFrame
Columns: [timestamp_invitation, date_time, profile_id, message_code_invitation, accepted_invitation, replied, timestamp_inmail, datetime, message_code_inmail]
Index: []

In [196]:
driver = utils_inmail.linkedin_login(username = 'gianluca@vaiuk.finance', password = '2023.VaiLondon$')

INFO:WDM:====== WebDriver manager ======
INFO:WDM:Get LATEST chromedriver version for google-chrome 109.0.5414
INFO:WDM:Driver [/Users/manuel/.wdm/drivers/chromedriver/mac64/109.0.5414/chromedriver] found in cache

In [197]:
profile_id = 'eddie-donmez-538b55b5'
driver.get(f"https://www.linkedin.com/in/{profile_id}")
more_button = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[6]/div[3]/div/div/div[2]/div/div/main/section[1]/div[2]/div[3]/div/div[2]/button')))
more_button.click() 

view_in_sales_navigator_button = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[6]/div[3]/div/div/div[2]/div/div/main/section[1]/div[2]/div[3]/div/div[2]/div/div/ul/li[1]/div')))
view_in_sales_navigator_button.click() 

sleep(3)        

driver.switch_to.window(driver.window_handles[-1])

message_button = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/main/div[1]/div[3]/div/div[1]/div/div/section[1]/section[1]/div[2]/section/div[1]/div[2]/button')))
message_button.click()

object_field = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[8]/section/div[2]/section/div[2]/form[1]/input')))
object_field.send_keys('prova')

core_field = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.TAG_NAME, 'textarea')))
core_field.send_keys('proviamo ancora')

send_button = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[8]/section/div[2]/section/div[2]/form[1]/section[2]/span[2]/button')))
send_button.click()

driver.switch_to.window(driver.window_handles[0])

NameError: name 'sleep' is not defined

In [198]:
api = utils.autenticate_linkedin_API('manuel')

INFO:utils:Logged into API using manuel's profile

In [202]:
api.send_message(message_body='''Dear Caterina,\nLately it seems the world is jumping from one crisis to the next. From pandemic, to natural disasters, war and economic downturn. Market uncertainty has become the norm, and making resilient investments has become a pertinent challenge for our partners and the wider investment community.\nHowever, we at Virgil Alternative Investments ltd. have dedicated the past few years to study and specialise in uncertain markets and assets, supporting and advising a network of Investors with over $3.5 billion AUM in Alternative Investments.\nWe see opportunity where others see uncertainty, and we’d like you to join our community to share our investment opportunities and services with you.\nPlease feel free to book a call https://calendly.com/vaiuk with us so that we can discuss your suitability and so that you learn more about VAI UK.\nKind regards,\nGianluca''', recipients=['ACoAAD_Wg70B7kOL5gyldTg-lo13RZqU_w0pHI4'])

False

In [199]:
n = api.get_profile_network_info('caterina-mazzoni-bb982425a')

In [ ]:
n